.one-column {
    @include base-grid();
    grid-template-columns: 1fr;
}

.two-column {
    @include base-grid();
    grid-template-columns: 1fr 1fr;
}

// optional three-column layout for the image dropzone on porftolio-manager
.three-column {
    @include base-grid();
    grid-template-columns: 1fr 1fr 1fr;
}